*{
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
a.hover{
    text-decoration:underline;
}
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
  }

h1{
	text-align:center;
	padding: 50px;
    /*background-image: url(./logo.jpg);
    background-size: 353px 241px;
    background-position: 550px -28px;
    background-repeat: no-repeat;
    vertical-align: middle;*/
    margin:0;
    font-size: 70px;
}

li{
    list-style-type: none;
    float:left;
    margin-left: 180px;
    text-align : center
  }

  .js-clock{
    display: inline;
    width: 20px;
    padding:0;
  }



body{
    display: grid;
    grid-template-rows: 250px 80px 2fr 1fr;
    margin: 0;
}
header{
    grid-row-start: 1;
    grid-row-end: 2;
}
nav{
    grid-row-start: 2;
    grid-row-end: 3;
    list-style-position: inside;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    padding:0;
    border-top:peru solid 1px;
    border-bottom:peru solid 1px;
}
main{
    grid-row-start: 3;
    grid-row-end: 4;
    margin:10px;
    padding:0px;
  border-right: peru solid 2px;
}
footer{
    grid-row-start: 4;
    grid-row-end: 5;
    padding:30px;
}
